/* Setel ukuran font dan font family secara global */
@import url('https://fonts.googleapis.com/css?family=popins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

html, body {
    height: 100%; /* Pastikan elemen html dan body mengisi seluruh viewport height */
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white; /* Tambahkan latar belakang untuk menghindari campuran warna putih */
}

.card {
    width: 90%;
    max-width: 450px;
    text-align: center;
    padding: 50px 35px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.811);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column; /* Ubah tata letak elemen card menjadi tumpukan vertikal */
    align-items: center;
    background-image: url(img/Galaxy-2.jpg);
    background-size: cover;
}

.card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.card h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    color: white;
}

.card p {
    font-size: 18px;
    margin: 10px auto;
    max-width: 330px;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Ubah lebar wrapper agar mencakup seluruh tampilan layar */
}

.wrapper .icon {
    margin: 0 2px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.555);
    color: black;
}

.wrapper .icon span {
    display: block;
    height: 40px;
    width: 40px;
    background: transparent;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.555);
}

.wrapper .icon span i {
    font-size: 30px;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.555);
}

.wrapper .icon:hover .tooltip {
    top: -60px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon .tooltip::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: transparent;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68 -0.55 0.265 1.555);
}

.wrapper .icon span {
    color: #fff;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper  .icon-facebook:hover span,
.wrapper .icon-facebook:hover .tooltip,
.wrapper .icon-facebook:hover .tooltip::before {
    color: blue;
}


.wrapper .icon-instagram:hover span,
.wrapper .icon-instagram:hover .tooltip,
.wrapper .icon-instagram:hover .tooltip::before {
    color: #e86355;
}

.wrapper .icon-whatsapp:hover span,
.wrapper .icon-whatsapp:hover .tooltip,
.wrapper .icon-whatsapp:hover .tooltip::before {
    color: #2ecc71;
}

.wrapper .icon-tiktok:hover span,
.wrapper .icon-tiktok:hover .tooltip,
.wrapper .icon-tiktok:hover .tooltip::before {
    color: #34495e;
}




/* Gunakan media query untuk menyesuaikan tampilan pada perangkat dengan lebar maksimum tertentu, misalnya 768px (tablet) */
@media (max-width: 768px) {
    .card {
        padding: 30px; /* Ubah padding kartu pada tampilan mobile */
    }
}
